<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
</head>
<nav class="navbar">
  <div class="navbar__logo"><a href="/">VideoClub</a></div>
  <div class="navbar__faq"><a href="/faq">FAQ</a></div>
  <div class="navbar__chat"><a href="/chat">Chat</a></div>
  <div class="navbar__user"><a href="/"><i class="far fa-user"></i>user</a></div>
  <div class="navbar__login"><a href="/logout">Logout</a></div>
</nav>
<header class="movies-header__kids"></header>
<main class="container__movies">
  <form action="" class="genre">
    <select name="genre" class="genre__sellection" id="genre" onchange="this.form.submit()">
      <option style="display: none">Genre</option>
      <option value="All">All Movies</option>
      <option value="Fantasy">Fantasy</option>
      <option value="Mystery">Mystery</option>
      <option value="Comedy">Comedy</option>
      <option value="Romance">Romance</option>
      <option value="Animation">Animation</option>
    </select>
  </form>
  <h3 class="heading-secondary heading-secondary--movies">
    <% if(!genre) {%> All <% } %>
        <%= genre %> Movies
  </h3>
  <section class="movie__list">
    <% for(let i=0; i < listOfKidsMovies.length; i++) { %>
      <a href="title/<%= listOfKidsMovies[i].id %> ">
        <div class="movie__card" style="background-image: url('<%= listOfKidsMovies[i].posterUrl %>')">
          <div class="movie__card-text">
            <p class="movie__card-text--desc">
              <%= listOfKidsMovies[i].description %>
            </p>
            <p class="movie__card-text--title">
              <%= listOfKidsMovies[i].title %>
            </p>
          </div>
        </div>
      </a>
      <% } %>
  </section>
</main>