<nav class="navbar">
  <div class="navbar__logo"><a href="/">VideoClub</a></div>
  <div class="navbar__faq"><a href="/faq">FAQ</a></div>
  <div class="navbar__login"><a href="/logout">Logout</a></div>
</nav>
<div class="movie-container movie-container__header" style="background-image:linear-gradient(105deg,
rgba(247, 247, 247, 0) 0%,
rgba(247, 247, 247, .2) 20%,
rgba(247, 247, 247, .8) 70%,
rgba(247, 247, 247, 1) 80%,
rgba(247, 247, 247, 1) 90%,
rgba(247, 247, 247, 1) 100%,
 transparent 60%), url('<%= film.posterUrl %>')">
  <% if(film.title.length < 14) {%>
    <div class="movie-container__title">
      <%= film.title.toUpperCase() %>
    </div>
    <% } else {%>
      <div class="movie-container__title movie-container__title-xs">
        <%= film.title.toUpperCase() %>
      </div>
      <% } %>
        <p class="movie-container__desc">
          <%= film.storyline %>
        </p>
        <div class="movie-container__genre">
          <p><strong>Genre:</strong>
            <%= film.genre %>
          </p>
          <p><strong> Rating:</strong>
            <%= film.rating %>
          </p>
          <p><strong> Release Date:</strong>
            <%= film.releasedDate %>
          </p>
        </div>
        <div class="movie-container__price"><strong>
            <%= film.price %>€
          </strong> </div>
        <a href="/payment/<%= film.id %> " class="movie-container__btn">Watch Now</a>

        <div>
          <iframe width=" 720" height="415" src=<%=film.url%> frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        </div>

</div>